
<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>

  <div class="section__content" id="gallery">
    <!-- Project 1 -->
    <div class="project pecatu">
      <figure class="project__pic">
        <a href="{{site.baseurl}}/img/projects/Pecatu.jpeg"
           data-pswp-width="2560"
           data-pswp-height="1175"
           target="_blank">
          <img src="{{site.baseurl}}/img/projects/Pecatu.jpeg" alt="Rumah Pecatu project" />
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name"></div>
        <p>Rumah Pecatu.</p>
      </figcaption>
    </div>

    <!-- Project 2 -->
    <div class="project sentul">
      <figure class="project__pic">
        <a href="{{site.baseurl}}/img/projects/lakesentul.jpeg"
           data-pswp-width="2560"
           data-pswp-height="947"
           target="_blank">
          <img src="{{site.baseurl}}/img/projects/lakesentul.jpeg" alt="Sentul Lake View project" />
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name"></div>
        <p>Sentul Lake View.</p>
      </figcaption>
    </div>

    <!-- Project 3 -->
    <div class="project alfresco">
      <figure class="project__pic">
        <a href="{{site.baseurl}}/img/projects/alfresco.jpeg"
           data-pswp-width="1600"
           data-pswp-height="844"
           target="_blank">
          <img src="{{site.baseurl}}/img/projects/alfresco.jpeg" alt="Citra Al-Fresco project" />
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name"></div>
        <p>Citra Al-Fresco.</p>
      </figcaption>
    </div>

    <!-- Denah -->
    <div class="project denah">
      <figure class="project__pic phones">
        <a href="{{site.baseurl}}/img/projects/denah1.jpeg"
           data-pswp-width="1600"
           data-pswp-height="1066"
           target="_blank">
          <img src="{{site.baseurl}}/img/projects/denah1.jpeg" alt="3D denah 1" />
        </a>
        <a href="{{site.baseurl}}/img/projects/denah2.jpeg"
           data-pswp-width="1600"
           data-pswp-height="1066"
           target="_blank">
          <img src="{{site.baseurl}}/img/projects/denah2.jpeg" alt="3D denah 2" />
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name"></div>
        <p>Denah 3D.</p>
      </figcaption>
    </div>
  </div>
</section>
