<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <!-- Project 1 -->
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="#" class="image-popup">
          <img src="{{site.baseurl}}/img/featured/blistabloc/blistabloc.png" alt="blistabloc project">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
        </div>
        <p>Custom wordpress theme built with Timber and Woocommerce for blistabloc, the only reactive shoe insert that prevents
          blisters from forming.</p>
      </figcaption>
    </div>

    <!-- Project 2 -->
    <div class="project screentime">
      <figure class="project__pic phones">
        <a href="#" class="image-popup">
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/screentime/screentime1.png" alt="screentime app screenshot 1">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/screentime/screentime3.png" alt="screentime app screenshot 2">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/screentime/screentime4.png" alt="screentime app screenshot 3">
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
        </div>
        <p>Starry Station feature that provided users with the ability to easily filter content, pause the internet, and even
          create custom rules for blocking apps like Facebook and Twitter right from their phones.</p>
      </figcaption>
    </div>

    <!-- Project 3 -->
    <div class="project interventions">
      <figure class="project__pic">
        <a href="#" class="image-popup">
          <img src="{{site.baseurl}}/img/featured/interventions/interventions.png" alt="interventions project">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
        </div>
        <p>Interactive marketing website for Northeastern's first annual student-led design conference, Interventions.</p>
      </figcaption>
    </div>
  </div>
</section>

<!-- Popup Modal -->
<div id="image-popup-modal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="modal-image">
  <div id="caption"></div>
</div>